.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #202020;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  border-bottom: 1px solid #444;
}

.sidebar li:last-child {
  border-bottom: none;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .active {
  background-color: #444;
}

.sidebar-footer {
  bottom: 0;
  width: 15vw;
  padding: 15px 0px;
  text-align: center;
  background-color: #101010;
}

.sidebar-footer p {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.sidebar-footer a {
  color: #fff;
  text-decoration: none;
}

.sidebar-footer a:hover {
  text-decoration: underline;
}
